<%- include('partials/header.ejs') %>
<!-- Jumbotron -->
<div class="p-12 text-center bg-gray-100 text-gray-700">
  <h2>Success Authorziation. Go Todo page to manage</h2>
</div>
<script></script>
<%- include('partials/footer.ejs') %>
